<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>FileUploadHandler</servlet-name>
  	<display-name>FileUploadHandler</display-name>
  	<description></description>
  	<servlet-class>FileUploadHandler</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FileUploadHandler</servlet-name>
  	<url-pattern>/FileUploadHandler</url-pattern>
  </servlet-mapping>
</web-app>
